{% extends 'base.html' %}

{% block header %}
<h1 class="display-1">{% block title %}Global Leader Board{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">

    <h1>Top Salaries</h1>
    <select class="browser-default custom-select">
        <option value="">Salary</option>
        <option value="">Savings</option>
        <option value="">Profession</option>
        <option value="">Alphabetical</option>
    </select>
    <table class="table">
        <tr>
            <th>User</th>
            <th>Salary</th>
            <th>Profession</th>
        </tr>
        <tr>
            <td>Dannen</td>
            <td>$100,000</td>
            <td>Computer Science</td>
        </tr>
        <tr>
            <td>Manthan</td>
            <td>$80,000</td>
            <td>Art Teacher</td>
        </tr>
        <tr>
            <td>Joey</td>
            <td>money</td>
            <td>Profession</td>
        </tr>
        <tr>
            <td>Tyler</td>
            <td>money</td>
            <td>Profession</td>
        </tr>
        <tr>
            <td>Person</td>
            <td>money</td>
            <td>Profession</td>
        </tr>
    </table>

</form>
{% endblock %}
